html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: "Dosis", sans-serif;
  color: #512200;
}

body {
  background-color: #f0eee8;
}

.card-body {
  font-family: Georgia;
  background-color: #dcd4cd;
  border-color: #cabdb2;
  border-width: 3px;
  border-radius: 3px;
}
